.slides{
	position: relative;
	.box0{
		position: absolute;
		border: 3px solid red;
  top: 134px;
  width: 162px;
  right: 36px;
  height: 32px;
	}
	.box1{
		position: absolute;
		border: 3px solid red;
	  top: 190px;
	  left: 43px;
	  height: 57px;
	  width: 100px;
	}
	.box2{
		position: absolute;
		border: 3px solid red;
  top: 234px;
  right: 109px;
  height: 49px;
  width: 108px;
	}
	.box3{
			position: absolute;
		border: 3px solid red;
  top: 234px;
  right: 47px;
  height: 49px;
  width: 75px;
	}
	.box4{
					position: absolute;
		border: 3px solid red;
		  top: 234px;
  left: 47px;
  height: 48px;
  width: 222px
	}
}